/* Стандартні налаштування */
html{
box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
font-family: "Comfortaa", sans-serif;
background-color: rgb(255, 248, 243);
}

*{
font-family: "Comfortaa", sans-serif;
padding: 0;
margin: 0;
border: 0;
}

*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
box-sizing: inherit;
}

a, a:visited{text-decoration: none;color: inherit;}

a:hover{text-decoration: none;}

ul li{
	list-style: none;
}

img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

button{
	cursor: pointer;
	border: none;
	padding: 0;
	background-color: transparent;
}

input,button,textarea{font-family:inherit;}

hr{
	border: 0;
	margin: 40px 0;
	display: block;
	background-color: #000;
	width: 100%;
	height: 1px;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}

/* Стандартні налаштування */


/* font-family: "Yeseva One", serif; */



.container{
	margin: 0 auto;
	max-width: 1160px;
	height: auto;
	padding: 0 20px;
}

/* HEADER */
.hm-candler{
/* width: 100%;
height: auto; */
}

.header-inner{
display: flex;
justify-content: space-between;
align-items: center;
}

.logo-hm{
cursor: pointer;
}

.burger-menu{
	display: none;
}

/* Навігація */
.header-nav{
	margin-left: 39px;
	margin-right: 39px;
}

.list-nav{
display: flex;
gap: 20px;

}

.list-nav-item{
	transition: background-color .2s linear;
	transition: padding .2s linear;
}

.item_from_nav{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color:rgb(0, 0, 0);
	text-align: center;

}
.list-nav-item:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	background-color: rgb(233, 224, 218);
	border-radius: 3px;
	padding: 4px;
}
/* Навігація */



/* Телефон */
.phone{
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color .2s linear;
}
.phone:hover{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	background-color: rgb(233, 224, 218);
	border-radius: 3px;
	padding: 4px;
	margin: -4px;
}

.mail{
font-size: 14px;
line-height: 16px;
font-weight: 400;
}

.phone__number{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}
/* Телефон */

/* HEADER */


.hm-candler-footer{
	padding-top: 47px;
	padding-bottom:47px ;
	background-color: rgb(255, 255, 255);
}

.inner-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.contacts{
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 17px;
	width: 230px;
}

.socials{
	display: flex;
	gap: 15px;

}

.tel{display: flex;}


/* Налаштавання шапки *//* Налаштавання шапки *//* Налаштавання шапки */
/* Налаштавання шапки *//* Налаштавання шапки *//* Налаштавання шапки */
.main-contant{
	overflow-x: clip;
}
/* секція 1 *//* секція 1 *//* секція 1 */

.buy{
padding: 40px 0 150px;

}

.buy-inner{
	position: relative;
}

.left-buy{
padding: 150px 0 250px;
width: 390px;
}



.main__title{
font-family: "Yeseva One", serif;
font-weight: 400;
font-size: 30px;
line-height: 35px;
margin-bottom: 15px;
color:rgb(0, 0, 0);
}

.left-buy__text{
font-weight: 400;
font-size: 14px;
line-height: 16px;
color:rgb(0, 0, 0);
margin-bottom: 48px;
}

.buy-button{
	display: flex;
	padding: 18px 54px 18px 54px;
	background-color:rgb(255, 189, 89);
	cursor: pointer;
	max-width: 160px;
	text-align: center;
}

.buy-button__item{

font-weight: 600;
font-size: 14px;
line-height: 16px;
color:rgb(0, 0, 0);
}

.pictures-first{
	position: absolute;
	top: 0;
	left: 240px;
}

.right-buy3{
	display: none;
}

.right-buy4{
	display: none;
}



/* секція 1 *//* секція 1 *//* секція 1 */


/* секція 2 *//* секція 2 *//* секція 2 */

.about-us{
	margin: 0 auto;
	background-color: #A5978E;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-us-inner{
	display: flex;
	gap:111px;
}

.about-us-left{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	height: auto;
	gap: 14px;
}


.about-us-picture{
	display: flex;
	gap: 20px;
	align-items: center;
}

.about-us-right{
	margin-right: -250px;
	gap: 27px;
	margin-top: 50px;
	width: 820px;
}
.about-us-picture-bottom{
	margin-bottom: 50px;
}

.about-us_title{
	font-family: "Yeseva One", serif;
font-weight: 400;
font-size: 40px;
line-height: 46px;
color: #fff;
}

.about-us_text{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	width: 371px;
}

.about-us-text_item{
	font-weight: 400;
	font-size: 11px;
	line-height: 12px;
	color: #fff;
}
/* секція 2 *//* секція 2 *//* секція 2 */

.our-products{
	margin: 150px auto;
}

.our-products-inner{
	display: flex;
	gap: 69px;
}

.our-products-left{
display: flex;
flex-direction: column;
align-items: start;
gap: 15px;
}

.our-products_title{
	font-family: "Yeseva One", serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 46px;
}

.our-products_text{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	width: 372px;
}

.our-products-right{
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.our-products-right-inner{
	display: flex;
	gap: 93px;
}

.our-products-right-inner-item{
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 3px;
}

.our-product-right_pictures{
	max-width: 100%;
	height: auto;
}

.our-product-right_title{
	margin-bottom: 15px;
	text-align: center;
	font-family: "Yeseva One", serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}

.our-product-right_text{
	font-weight: 400;
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 26px;
}

.our-product-right_button{
	cursor: pointer;
	padding: 18px 54px 18px 54px;
	background-color: rgb(255, 189, 89);
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
}


/* _____________1000_________________ */

@media (max-width:1000px){

/* ///////////////////////////////// */
	.container{
		max-width: 960px;
	}

	.left-buy{
		width: 333px;
	}

.left-buy__text{
	margin-bottom: 30px;
	}

.right-buy1{
	width: 655px;
}

.pictures-first{
	position: absolute;
	top: 60px;
	left: 300px;
}

.left-buy{
	padding: 123px 0 238px;
	}

	.buy{
		padding: 0;
		
		}


/* ////////////////about-us///////////////// */
	.about-us-inner{
		gap: 20px;
	}
	.about-us-picture-iner--1000{
		max-width: 215px;
	}
	.about-us-picture-iner--1000_2{
		max-width: 350px;
	}

	.about-us-picture_item{
		max-width:100%;
		height: auto;
	}

	.about-us_text{
		width: 300px;
	}
	/* ///////////////////////////////// */
	/* ////////////////our-products/////////////// */
	.our-products{
		margin: 150px auto;
	}
	
	.our-products-inner{
		gap: 20px;
		flex-direction: column;
	}
	
	.our-products_text{
		font-weight: 400;
		font-size: 10px;
		line-height: 11px;
		width: 500px;
		text-align: center;
	}
	
	.our-products-right{
		gap: 67px;
		padding-left: 10px;
		align-items: center;
	}
	
	.our-products-right-inner{
		gap: 67px;
	}

	.our-products-left{
		align-items: center;
		
		
	}

	.line{
		align-items: right;
		margin-right: -250px;
		
	}
	
}




/* ______________768___________________ */
@media (max-width:768px){
	/* ///////////////////////////////// */
.container{
	max-width: 720px;
	padding: 0 20px;
	
}

.phone{
	order: -1;
}
.logo-hm{
	order: -1;
}

.header-nav{
	display: none;
}
.burger-menu{
	display: flex;
}

/* Header and Footer */
.item_from_nav{
	font-size: 10px;
	line-height: 150%;
}
.phone__number{
	font-size: 10px;
	line-height: 150%;
}
.mail{
	font-size: 10px;
	line-height: 150%;
}
.contacts{
	margin: 0px auto;
	margin-top: 20px;
	gap: 10px;
	padding: 0;
	align-items: center;
}

.left-buy{
	width: 230px;
	

}
/* Header and Footer */
/* ///////////////////////////////// */
.main__title{
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 20px;
}

.left-buy__text{
	font-size: 10px;
	line-height: 150%;
	margin-bottom: 20px;
}

.left-buy{
	padding: 123px 0 238px;
}

.pictures-first{
	position: absolute;
	top: 60px;
	left: 180px;
}
/* ////////////////about-us///////////////// */
.about-us-inner{
	gap: 48px;
}
.about-us-picture-iner--1000{
	max-width: 120px;
}
.about-us-picture-iner--1000_2{
	max-width: 190px;
}

.about-us-picture{
	gap: 9.84px;
}


.about-us_text{
	width: 200px;
}

.about-us_title{
font-size: 15px;
line-height: 17px;

}

.about-us_text{
	font-size: 10px;
	line-height: 11px;
}

.about-us-text_item{
	font-size: 6px;
	line-height: 7px;
}
/* ////////////////our-products/////////////// */
.our-products{
	margin: 150px auto;
}

.our-products-inner{
	gap: 30px;

}

.our-products-left{
gap: 14px;
}

.our-products_title{
	font-size: 15px;
	line-height: 17px;
}

.our-products_text{
	font-size: 10px;
	line-height: 11px;
	width: 400px;
}

.our-products-right{
	gap: 30px;
}

.our-products-right-inner{
	gap: 16px;
}

.our-products-right-inner-item{
	width: 200px;
}

.line{
	align-items: right;
	width: 666px;
	
}

.our-product-right_title{
	margin-bottom: 9.5px;
	font-size: 12px;
	line-height: 14px;
}

.our-product-right_text{
	font-size: 8px;
	line-height: 9px;
	margin-bottom: 10.35px;
}

.our-product-right_button{
	cursor: pointer;
	padding: 10px 25px 10px 25px;
	background-color: rgb(255, 189, 89);
}


}



/* _______________480__________________ */
@media (max-width:480px){
	/* ///////////////////////////////// */
	.container{
		max-width: 460px;
		padding: 0 10px;
}

/* Header and Footer */


.list-nav{
	flex-direction: column;
}

.inner-footer{
	flex-direction: column;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

.contacts{
	align-items: center;
}
/* Header and Footer */
/* ///////////////////////////////// */

.left-buy{
	width: 179.16px;
	padding: 110px 0 130px;
}
.main__title{
	font-size: 15.18px;
	line-height: 18px;
	margin-bottom: 15px;
	}

.left-buy__text{
	font-size: 8px;
	line-height: 150%;
	margin-bottom: 15px;
}
.buy-button{
	padding: 13.66px 40.99px 13.66px 40.99px;
}

.left-buy{
	padding: 110px 0 130px;
}

.right-buy3{
	display: block;
}

.right-buy1{
	display: none;
}

.pictures-first{
	position: absolute;
	top: 50px;
	left: 155px;
}
/* ///////////////about-us////////////////// */
.about-us-inner{
	gap: 17px;
}
.about-us-picture-iner--1000{
	max-width: 80px;
}
.about-us-picture-iner--1000_2{
	max-width: 140px;
}

.about-us-picture{
	
	gap: 5px;
}

.about-us-picture-bottom{
	margin-bottom: 44px;
}


.about-us_text{
	width: 172px;
}

.about-us_title{
font-size: 15px;
line-height: 17px;

}

.about-us_text{
	font-size: 10px;
	line-height: 11px;
}

.about-us-text_item{
display: none;
}

.about-us-right{
	gap: 30px;
	margin-top: 69px;

}

.about-us-left{
	margin: 50px 0;
	gap: 20px;
}
/* ////////////////our-products/////////////// */
.our-products{
	margin: 50px auto 110px;
}

.our-products-left{
gap: 15px;
}


}



/* _____________360___________________ */
@media (max-width:360px){
	/* ///////////////////////////////// */
.container{
	max-width: 340px;
}
.left-buy{
	width: 203px;
}
.main__title{
	font-size: 18px;
	line-height: 21px;
	}

.left-buy__text{
	font-size: 10px;
	line-height: 11px;
}

.left-buy{
	padding: 61px 0 50px;
}

.right-buy3{
	display: none;
}

.right-buy4{
	display: block;
}

.pictures-first{
	position: absolute;
	top: 50px;
	left: 180px;
}
/* ///////////////about-us////////////////// */
.about-us-inner{
	gap: 25px;
}


.about-us-picture{
	
	gap: 10px;
}

.about-us-picture-bottom{
	margin-bottom: 11px;
	margin-left: -10px;
}


.about-us_text{
	width: 235px;
}


.about-us-text_item{
display: none;
}

.about-us-right{
	gap: 12px;
	margin-top: 39px;
}

.about-us-left{
	margin-top: 25px;
	margin-bottom: 35px;
	gap: 10px;
}
.about-us-picture-iner--1000_2{
	display: none;
}

.about-us-picture-iner--1000{
	padding-right: 10px;
}





}


/* Додаткова медіа*/ @media (max-width:400px){
	/* ////////////////our-products/////////////// */
	.our-products{
		margin: 50px auto;
	}
	
	.our-products-inner{
		gap: 25px;
	
	}
	
	.our-products-left{
	gap: 10px;
	}
	
	
	.our-products_text{
		font-size: 8px;
		line-height: 9px;
		width: 235px;
	}
	
	.our-products-right{
		gap: 41px;
	}
	
	.our-products-right-inner{
		gap: 7px;
	}
	
	.our-products-right-inner-item{
		width: 150px;
	}
	
	.line{
		align-items: right;
		width: 500px;
		
	}
	
	.our-product-right_title{
		margin-bottom: 7.38px;
		font-size: 10px;
		line-height: 12px;
	}
	
	.our-product-right_text{
		font-size: 6px;
		line-height: 7px;
		margin-bottom: 17.62px;
	}
	
	.our-product-right_button{
		cursor: pointer;
		padding: 10px 25px 10px 25px;
		background-color: rgb(255, 189, 89);
	}
} 